@font-face {
  font-family: 'Roboto';
  src: url("src/assets/Fonts/Roboto-Black.ttf") format('truetype');

}

:root{
  --cor1: #fff;
  --font-roboto: 'Roboto',Arial, Helvetica, sans-serif;
}



.container-fluid{
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3) url("src/assets/ImageHome.jpeg");
    background-size: cover;
    background-blend-mode: darken;

}

.cen{
  height: 40vh;
}
.sla{
   height: 30vh;
}

h3{
  /*padding: 0px 0px 0px 10vh;*/
  text-align: center;
  color: #59AE33;
  text-shadow:  -1px -1px 0px #000,
    -1px 1px 0px #000,
     1px -1px 0px #000,
     1px 0px 0px #000;
}


#textbox{
    border-radius: 25px;
    text-align: center;
    font-family: var(--font-roboto) ;
    color: #fff;
    text-shadow:  -1px -1px 0px #000,
    -1px 1px 0px #000,
     1px -1px 0px #000,
     1px 0px 0px #000;
    padding-top: 4vh;
    padding-bottom: 4vh;
    min-height: 18vh;
    max-height: 30vh;
}

#text{
    padding-top: 3.5vh;
}

.header-padding{
    height: 80px;
}
